/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 overflow: hidden;
}
#header{
 height: 150px;
 background-color: green;
 margin: 15px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline;
 margin: 0 15px;
 float: left;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 float: right;
 margin: auto 15px 15px auto;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 10px 0 10px 10px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 10px;
}
